@import "_variables", "_fonts";
@import 
	"_base",
	"_flex",
	"_buttons",
	"_radios",
	"_navbar",
	"_app",
	"_hero",
	"_footer", 
	"_loading";

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	clip: rect(0, 0, 0, 0);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.illustration {
	display: block;
	width: 100%;
	margin: 0 auto;

	&.size-lg {
		max-width: 315px;
	}
	&.size-med {
		max-width: 175px;
		max-height: 175px;
		padding: 5% 0;
	}
	&.size-small {
		max-width: 135px;
		max-height: 135px;
		padding: 5% 0;
	}
}

.uppercased-text {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 600;
}

.shiny-html-output {
	padding: 0;
	margin: 0;
	&.shiny-bound-output {
		padding: 0;
		margin: 0;
	}
}

#appStart {
	width: 100%;
	margin: 0 auto;
	margin-top: 12px;
}

#section-start {
	text-align: left;

	p {
		display: inline;
		margin: 0;
	}
}

#hero-finder {
	text-align: center;
}


.footer-banner {
	height: 100px;
	background-image: url("../images/page-footer-grayscale.svg");
	background-size: contain;
	background-position: center 100%;
	background-repeat: repeat-x;
}

@media (min-width: $screen-break) {
	#appStart {
		width: 250px;
	}

	#section-start {
		text-align: center;
		p {
			display: block;
		}
	}

	.illustration {
		height: auto;
		&.size-lg {
			max-width: 500px;
		}
	}
}
