@import "_variables", "_fonts";
@import "_base", "_flex","_forms", "_buttons", "_inputs", "_navbar", "_app", "_hero", "_footer", "_loading", "_accordions",
	"_datatable", "_viz";

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	clip: rect(0, 0, 0, 0);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.illustration {
	display: block;
	width: 100%;
	margin: 0 auto;

	&.size-lg {
		max-width: 315px;
	}
	&.size-med {
		max-width: 175px;
		max-height: 175px;
		padding: 5% 0;
	}
	&.size-small {
		max-width: 135px;
		max-height: 135px;
		padding: 5% 0;
	}

	&.airplane {
		transform: rotate(30deg);
	}
}

.uppercased-text {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 600;
}

.shiny-html-output {
	padding: 0;
	margin: 0;
	&.shiny-bound-output {
		padding: 0;
		margin: 0;
	}
}

#appStart {
	width: 100%;
	margin: 0 auto;
	margin-top: 12px;
}

#section-start {
	text-align: left;

	p {
		display: inline;
		margin: 0;
	}
}

#hero-finder {
	text-align: center;
}

.error {
	color: $error;
	font-weight: bold;
}

#resetTravelForm {
	border-color: $brand;
	background-color: white;
}

#footer-banner {
	height: 100px;
	background-size: contain;
	background-position: center 100%;
	background-repeat: repeat-x;
	opacity: 0.75;
}

#travelMap {
	width: 90%;
	margin: 32px auto;
	height: 90vh;
	background-color: $dark;
	border-radius: 6px;
}

#places {
	.legend-item {
		svg {
			fill: white;
		}
		#beer-15 {
				background-color: #66c2a5;
		}
		#cafe-15 {
			background-color: #fc8d62;
		}
		#museums-15 {
			background-color: #8da0cb;
		}
	}
}

.place-popup {
	.place-type {
		display: block;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-weight: bold;
		font-size: 11pt;
		color: $medium;
		line-height: $heading-line-height;
	}
	.place-name {
		display: block;
		font-size: 14pt;
		font-weight: bold;
		color: $dark;
		line-height: $text-line-height;
	}
	.place-city, .place-country {
		font-size: 12pt;
	}
	.place-id {
		display: block;
		text-align: right;
		font-size: 11pt;
		color: $medium;
	}
}

@media (min-width: $screen-break) {
	#appStart {
		width: 250px;
	}

	#section-start {
		text-align: center;
		p {
			display: block;
		}
	}

	.illustration {
		height: auto;
		&.size-lg {
			max-width: 500px;
		}
	}

	#summary-of-data {
		.column-2 {
			text-align: right;
		}
	}

	#reference-table,
	#summary-of-recommended-cities {
		.datatable {
			.column-4,
			.column-5,
			.column-6,
			.column-7 {
				text-align: right;
			}
		}
	}
}
