button {
    display: block;
    cursor: pointer;
}

.b {
    margin-top: 12px;
	width: 100%;
	margin: 0 auto;
	margin-top: 12px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 12pt;
	background-color: transparent;
	padding: 6px 0;
	border-radius: 4px;
    border: 2px solid transparent;
    
    &.b-primary {
        background-color: $brand;
        border-color: $brand;
        color: $light;

        &:hover {
            background-color: transparent;
            text-decoration: underline;
            color: $brand;
        }
    }

    &.b-secondary {
        background-color: $light;
        border-color: none;
        color: $brand;

        &:hover {
            text-decoration: underline;
        }
    }
}

.b-list {
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 21px;
    list-style: none;

    .b {
        display: block;
        width: 100%;
    }
}

@media (min-width: 532px) {
    .b-list {
        display: inline-flex;
        justify-content: center;

        .b {
            width: 200px;
            margin: 0;

            &:nth-of-type(1) {
                margin-right: 16px;
            }
        }
    }
}

// @media (min-width: $screen-break) {
//     .b-list {
//         justify-content: flex-end;
//     }
// }