
// COLORS
$brand: #507dbc;
$brand-light: #a6bbda;
$light: #f6f6f6;
$semi-light: #d9e3f2;
$medium: #3f454b;
$dark: #252525;
$dark-alt: #2a2c32;
$brown: #edb183;


// shadows
$shadow: hsla(0, 0%, 0%, 0.18);

// line heights
$text-line-height: 1.7;
$heading-line-height: 1.4;

// screen break
$screen-break: 912px;
