@import "_variables", "_fonts";
@import "_base", "_buttons", "_navbar", "_app";

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.uppercased-text {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
}

.shiny-html-output {
    padding: 0;
    margin: 0;
    &.shiny-bound-output {
        padding: 0;
        margin: 0;
    }
}